.hamburger>i{
    font-size : 1.5em;
}
body{
    background-color: #F1F3E0;
    overflow-x : hidden;
    padding-top : 60px;
    overflow-x: hidden;
}
.navbar{
    background-color: #778873;
    position : fixed;
    top : 0px ; left : 0px;
    height : 6%;
    width : 100%;
    display : flex;
    align-items: center;
    z-index : 2;
}
.hamburger{
    color : #D2DCB6;
    margin-left : 10px; 
    cursor : pointer;
}
.overlay{
    height : 100%;
    width : 100%;
    position : fixed ; 
    inset : 0;
    background-color: transparent;
    display : none;
    background: transparent;
    backdrop-filter: blur(3px);
    z-index : 5;
   
}
.sidemenu{
height : 100%;
background-color: #F1F3E0;
width : 30%;
}
.into{
    display : flex;
    justify-content: space-between;
    font-size : 1.5em;
    align-items: center;
}
.cross{
    display : inline-block;
    margin : 10px;
    cursor : pointer;
}
.cross:hover{
    color : #778873;
}
.addanim{
animation : slide 0.45s linear 0s 1;
}
@keyframes slide{
    from {transform : translateX(-100%)}
    to{transform : translateX(0%)}
}
.adan{
animation : back 2s linear 0s 1;
}
@keyframes back {
    from {transform : translateX(0%)}
    to {transform : translatex(-100%)}
}
@media screen and (min-width:0px) and (max-width:450px){
    .sidemenu{
        width : 45%;
    }
}
@media screen and (min-width:451px) and (max-width:720px){
    .sidemenu{
        width : 40%;
    }
}
*{
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.list{
    width : 100%;
}
.list > div{
    width : 100%;
    padding : 10px;
    padding-right:0px;
}
.list > i{
    padding-right : 15px;
}
.list>div:hover{
 background-color: rgba(255, 255, 255, 0.5); 
 color : rgb(248, 157, 0)
}
*{
    box-sizing: border-box;
}
.men{
    color : #A1BC98;
    margin-left : 20px;
    font-family :Arial, Helvetica, sans-serif;
    font-weight : 700;
}
.search{
display : flex;
justify-content: center;
font-family : Arial, Helvetica, sans-serif;
position: relative;

}
.searchmembers{
    padding-left : 35px;
    width : 80%;
    height : 40px;
    border : 1.7px solid black;
    border-radius : 15px;
    display : flex;
    background-color: #D2DCB6;
}
.searchmembers::placeholder{
  font-family : Arial, Helvetica, sans-serif;
  font-size : 15px;
  color : black;
}
#searchicon{
    font-size : 18px;
    position : relative ; 
    top :10px;
    left : 30px;
}
.searchmembers:focus{
    outline : 2px solid #778873;
}
.memeberslist{
    width : 90%;
    height : 50px;
    background-color: #D2DCB6;
    border-radius : 15px;
    padding-left : 30px;
    font-size : 20px;
    position : relative;
    border : 1.4px solid black;

}
.ml{
    width : 100%;
    margin-top : 30px;
    display : flex;
    justify-content: center;
    position : absolute;
    align-items: center;
    flex-direction: column;
}
.mem{
    position: relative;
    bottom : 7px;
    font-weight: lighter;
}
.reallist{
    width : 90%;
    height : 600px;
    background-color :rgb(248, 250, 251);
    margin-top : 30px;
    border-radius : 15px;
    border : 1.5px solid rgb(163, 162, 162);
    margin-bottom : 30px;
    position: relative;
}
body::-webkit-scrollbar{
    display : none;
}
.announcments{
    width : 95%;
    height : 300px;
    margin-top : 30px;
    margin-bottom : 20px;
    border-radius : 15px;
    border : 1.5px dotted black;
    position: relative;
    background-color: #A1BC98;
}
.coverannounce{
    width : 100%;
    height : 100%;
    inset : 0;
    border-radius : 15px;
    background-color: transparent;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size : 4em;
}
.toggl{
display : none;
}
.announce{
    font-size : 18px
}